
<!-- Scripts para las graficas -->
<script type="text/javascript" src="/js/Chart.min.js"></script>

<div class="row">
	<div class="col-md-4 mx-auto mb-3"><!-- mx-auto es centrado -->
		<div class="card">
			<div class="card-header fondo-claro" style="text-align: center;">
				<h5>Actualizar precio del Dólar en Bolivares</h5>
			</div>
			<div class="card-body">
				<form class="mx-auto" method="POST" action="/dolar/editarDollar/{{userName.id}}">
					<div class="form-group">
						<input id="inputOnWriteNumero" class="form-control" type="text" name="dollar" placeholder="Monto de dolar en Bs" value="{{userName.dollarV}}" autofocus="">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block">
							Guardar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{{#if dollarInfo}}
	<div class="col-md-8 text-center">
		<div class="card bg-light border">
			<div class="card-body fondo-claro">
				<h5 class="card-title mb-4">Gráfica promedio en Bs del Dólar</h5>
				
				<canvas class="my-4 w-100" id="myChartDollarInicio" width="900" height="380"></canvas>
				
			</div>
		</div>
	</div>
{{/if}}
</div>
{{#if dollarInfo}}
<div class="row mt-3">
	<div class="col-md-8">
		<div class="table-responsive fondo-claro">	
			<table class="tablaProductos table table-striped table-sm table-bordered">
				<thead>

					<td><b>Fecha</b></td>
					<td><b>Monto Bs</b></td>
					<td>Acciones</td>

				</thead>
				<tbody>	
				{{#each dollarInfo}}
					<tr>
						<td>{{date}}</td>
						<td>{{monto}}</td>
						<td>
							<form action="/dolar/borrarDollar/{{id}}?_method=DELETE" method="POST" style="display: inline-block;">
								<input type="hidden" name="monto" value="{{monto}}">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn-danger" type="submit"><span data-feather="trash-2"></span></button>
							</form>
						</td>
					</tr>
				{{/each}}				
				</tbody>
			</table>
		</div>
	</div>
</div>
{{/if}}

<script type="text/javascript" src="/js/peticionesAjax.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
<script type="text/javascript">
	{{#if dollarInfo}}
		const datosGrafica = [];
		{{#each dollarInfo}}
			datosGrafica.push({
				fecha: '{{dateGrafica}}',
				monto: '{{montoGrafica}}'
			});
		{{/each}}
		crearGraficaDolar(...datosGrafica);
	{{/if}}
</script>