
<div class="card fondo text-light">
	<div class="card-header">
		<div class="col-auto d-sm-block">
			<h3>Productos seleccionados</h3>
		</div>
	</div>
	
		<div class="card-body">
			<div class="row">
				{{#if MostrarCarrito}}
				<div class="col-md-9">
					<div class="card-body">
						<div class="table-responsive">	
							<table id="tablaVerProductos" class="tablaProductos text-center fondo-claro table table-striped table-sm">
								<thead>				
									<td><b>Producto</b></td>
									<td><b>Precio</b></td>
									<td><b>Disp.</b></td>
									<td><b>tipo</b></td>
									<td><b>Cantidad</b></td>
									<td><b>Monto</b></td>
									<td></td>
								</thead>
								<tbody>	
								{{#each MostrarCarrito}}
									<tr>
										<td>{{nombre}}</td>
										<td>{{precio}}</td>
										<td class="text-right">{{cantidadDisponible}}</td>
										<td>{{tipo}}</td>
										<td><p class="form-control display-block text-right"><b>{{cantidad}}</b></p></td>
										<td><p class="form-control display-block text-right"><b>{{monto}}</b></p></td>
										<td>
											<form action="/carrito/borrar/{{id}}?_method=DELETE" method="POST" style="display: inline-block;">
												<input type="hidden" name="_method" value="DELETE">
												<button class="btn-danger" type="submit"><span data-feather="trash-2"></span></button>
											</form>
										</td>
									</tr>
								{{/each}}				
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">	
					<div class="card bg-light py-2 py-md-3 border">
						<div class="card-body">
							<p><a href="/ventaProducto" class="btn btn-primary"><span data-feather="plus-circle"></span></a></p>
							<h5 class="text-dark">Total</h5>	
							<h4 class="text-dark">{{total}}</h4>
						</div>
						<p><a href="/procesarCarrito" class="btn btn-block btn-success"><span data-feather="shopping-cart"></span> <b>Vender</b></a></p>
					</div>
				</div>	
			</div>
		</div>
	{{else}}
			<div class="card mx-auto fondo-claro">
				<div class="card-body">
					<p>Usted no ha ingresado productos al carrito.</p>
					<a class="btn btn-success btn-block" href="/ventaProducto">Ingresar</a>
				</div>
			</div>
		{{/if}}
</div>

<script type="text/javascript" src="/js/peticionesAjax.js"></script>